USE [Navtech]
GO
/****** Object:  Table [dbo].[5_ITEMLISTING]    Script Date: 03-11-2022 11:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[5_ITEMLISTING](
	[LID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[UPC] [nvarchar](255) NULL,
	[ProductImages] [nvarchar](max) NULL,
	[AID] [int] NULL,
	[AAID] [int] NULL,
	[CID] [int] NULL,
	[SID] [int] NULL,
	[STOCK] [nvarchar](255) NULL,
	[BASEPRICE] [nvarchar](255) NULL,
	[LPRICE] [nvarchar](255) NULL,
	[REMARK] [nvarchar](255) NULL,
	[CreatedDate] [date] NULL,
	[CreatedIP] [time](4) NULL,
	[UpdatedDate] [time](4) NULL,
	[UpdatedIP] [time](4) NULL,
	[is_removed] [bit] NULL,
	[is_hold] [bit] NULL,
	[hold_rmk] [nvarchar](max) NULL,
 CONSTRAINT [PK_5_ITEMLISTING] PRIMARY KEY CLUSTERED 
(
	[LID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[5_ITEMLISTING]  WITH CHECK ADD FOREIGN KEY([AAID])
REFERENCES [dbo].[4_ATTR_MASTER] ([AAID])
GO
ALTER TABLE [dbo].[5_ITEMLISTING]  WITH CHECK ADD FOREIGN KEY([AID])
REFERENCES [dbo].[3_ATTR_MASTER] ([AID])
GO
ALTER TABLE [dbo].[5_ITEMLISTING]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [dbo].[1_COLOR_MASTER] ([CID])
GO
ALTER TABLE [dbo].[5_ITEMLISTING]  WITH CHECK ADD FOREIGN KEY([PID])
REFERENCES [dbo].[0_ITEM_MASTER] ([PID])
GO
ALTER TABLE [dbo].[5_ITEMLISTING]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[2_SIZE_MASTER] ([SID])
GO
